<div class="single-form-container">
  <div class="boxed-group" id="login">
    <h3>ログイン</h3>
    <div class="boxed-group-inner">
      <%= form_tag create_login_session_path do %>
        <dl class="form">
          <dt>
         <%= label_tag "ユーザ名" %>
          </dt>
          <dd>
          <%= text_field_tag :name, params[:name] %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= label_tag "パスワード" %>
          </dt>
          <dd>
          <%= password_field_tag :password, params[:password] %>
          </dd>
        </dl>
        <p> <%= submit_tag "ログイン", :class => "button primary" %> </p>
      <% end %>
    </div>
  </div>
</div>
