<center><h3>编辑日志</h3></center>
<%= simple_form_for(@post, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.input :title, :input_html => { :class => "span6" }, label: '标题: '%>
  <br>
  <%= f.input :tag, label: '分类: '%>
  <br>
  <%= f.input :content, as: :text, label: '正文: ', :input_html => { :class => "span6" }%>
  <br>
  <%= f.button :submit, '提交', :class =>'btn-primary'%>
<% end %>